.create-form-div,
.update-form-div {
  background-color: var(--clr-light);
  box-shadow: var(--bx-sh);
  width: 100%;
  margin: 0 auto;
}

.create-form-div input,
.update-form-div input {
  height: 20px;
  border-radius: 3px;
  border: 0.5px solid rgb(180, 179, 179);
  padding: 5px;
  font-size: 1em;
}

.item-map {
  border: 1px solid rgb(180, 179, 179);
  border-radius: 3px;
  height: 500px;
}

.create-btn,
.update-btn {
  width: 30%;
  margin: 10px auto;
  padding: 5px;
  border: var(--border);
  border-radius: 3px;
  font-size: 1.25em;
  background: var(--bg-btn);
}

.create-btn:hover,
.update-btn:hover {
  background: var(--bg-btn-hov);
  cursor: pointer;
  color: var(--clr-dark);
}

.selection {
  height: 25px;
  width: 310px;
  margin: 0;
  font-size: 1em;
}

.hidden {
  display: none;
}
